# Supabase — получить на https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://geqkwytwqbjbtpxjieaw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdlcWt3eXR3cWJqYnRweGppZWF3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5OTQ4MTgsImV4cCI6MjA5MDU3MDgxOH0.rpdMigSncaY4QxeXQ32Lgt2oHX7X_CxzxWE0VUNyxWY
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
